.trend-icon {
  height: 50%;
  width: 50%;
  color: #ff0000;
}
.link-style {
  height: 51%;
  width: 100%;
  text-decoration-color: transparent;
}
.bg {
  background-color: lightsteelblue;
}
.select-color {
  color: #ff0000;
}

@media (min-width: 700px) {
  .link-style {
    width: 50%;
    height: 28%;
  }
}
