.header-page {
  width: 100vw;
  height: 10%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0px;
}
.header-page-dark {
  width: 100vw;
  height: 10%;
  background-color: #181818;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0px;
}
.header-icon {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.icon-profile-logout {
  list-style-type: none;
  padding-left: 0px;
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.moon-icon {
  width: 95%;
  height: 85%;
  color: #181818;
  font-weight: 600;
}
.theme-btn {
  background-color: transparent;
  height: 40%;
  width: 25%;
  cursor: pointer;
  border-width: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.theme-btn-profile {
  background-color: transparent;
  height: 40%;
  width: 15%;
  cursor: pointer;
  border-width: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.moon-icon-dark {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 600;
}
.profile {
  width: 100%;
  height: 100%;
}
.logout-btn {
  background-color: #ffffff;
  color: #3b82f6;
  border-radius: 5px;
  height: 35px;
  width: 75px;
  border: 2px solid #3b82f6;
  cursor: pointer;
  font-weight: 400;
}
.logout-btn-dark {
  background-color: #181818;
  color: #ffffff;
  border-radius: 5px;
  height: 35px;
  width: 72px;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-weight: 400;
}
.link-item {
  text-decoration: none;
  text-decoration-color: transparent;
  height: 42%;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.popup-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pop-card {
  background-color: #ffffff;
  border-radius: 8px;
  width: 280px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pop-p {
  color: #181818;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.flex {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cancel {
  background-color: transparent;
  height: 100%;
  width: 25%;
  border-width: 1.5px;
  border-radius: 5px;
  color: #181818;
  cursor: pointer;
}
.exit {
  background-color: #3b82f6;
  height: 100%;
  width: 25%;
  border-width: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.popup-div-d {
  height: 100vh;
  display: flex;
  background-color: transparent;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pop-card-d {
  background-color: #181818;
  border-radius: 8px;
  width: 280px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pop-pd {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cancel-d {
  background-color: transparent;
  height: 100%;
  width: 25%;
  border-width: 1.5px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.exit-d {
  background-color: #3b82f6;
  height: 100%;
  width: 25%;
  border-width: 0px;
  border-radius: 5px;
  color: #181818;
  cursor: pointer;
}
.saved-icon {
  color: #000000;
  height: 100%;
  width: 100%;
}
.saved-icon:hover {
  background-color: red;
}
.white {
  color: #ffffff;
}

@media (max-width: 600px) {
  .icon-profile-logout {
    width: 45%;
  }
  .theme-btn-profile {
    display: none;
  }
  .link-item {
    width: 30%;
  }
  .pop-p {
    font-size: 18px;
  }
  .pop-pd {
    font-size: 18px;
  }
}

@media (min-width: 600px) and (max-width: 790px) {
  .icon-profile-logout {
    width: 45%;
  }
  .link-item {
    width: 25%;
  }
  .theme-btn {
    width: 18%;
    height: 25%;
  }
  .theme-btn-profile {
    width: 18%;
    height: 25%;
  }
  .pop-p {
    font-size: 20px;
  }
  .pop-pd {
    font-size: 20px;
  }
}

@media (min-width: 790px) and (max-width: 980px) {
  .icon-profile-logout {
    width: 40%;
  }
  .link-item {
    width: 25%;
  }
  .theme-btn {
    width: 20%;
    height: 30%;
  }
  .logout-btn {
    font-size: 22px;
  }
  .pop-p {
    font-size: 22px;
  }
  .pop-pd {
    font-size: 22px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .icon-profile-logout {
    width: 40%;
  }
  .link-item {
    width: 25%;
  }
  .theme-btn {
    width: 15%;
    height: 30%;
  }
  .pop-p {
    font-size: 24px;
  }
  .pop-pd {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .icon-profile-logout {
    width: 40%;
  }
  .link-item {
    width: 25%;
  }
  .theme-btn {
    width: 15%;
    height: 30%;
  }
  .logout-btn {
    height: 4%;
    width: 120px;
    font-size: 1.5rem;
  }
  .logout-btn-dark {
    height: 4%;
    width: 120px;
    font-size: 1.5rem;
  }
  .pop-card {
    width: 400px;
  }
  .pop-card-d {
    width: 400px;
  }
  .pop-p {
    font-size: 24px;
  }
  .pop-pd {
    font-size: 24px;
  }
}
