.category-icon {
  height: 45%;
  width: 20%;
  color: #475569;
}
.yes {
  color: #f8f8f8;
}
.bg {
  background-color: lightsteelblue;
}
.link {
  width: 100%;
  text-decoration-color: transparent;
  height: 5%;
}
.select-color {
  height: 45%;
  width: 20%;
  color: #ff0000;
}

@media (min-width: 700px) {
  .link {
    height: 8%;
  }
}
