.category-icon {
  color: #475569;
}
.yes {
  color: #f8f8f8;
}
.bg {
  background-color: lightsteelblue;
}
.link {
  width: 100%;
  text-decoration-color: transparent;
  height: 5%;
}
.select-color {
  color: #ff0000;
}
